body::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 16px;
}

.toggle {
    color: rgb(246, 138, 162);
}

.intern {
    background-color: rgb(247, 248, 250);
    line-height: 4px;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: rgb(196, 197, 199);
}



.hidden {
    display: none;
}

.menu {
    
    box-sizing: border-box;

    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
}

.left-paddle {
    
    background-color: white;
    border: none;
    /* height: 2px; */
}

.right-paddle {
    
    /* height: 2px; */

    background-color: white;
    border: none;


}

.item {
    display: inline-block;

    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.bar1 {

    width: 100px;
    background-color: black
}

.bar2 {

    width: 50px;
    background-color: rgb(196, 197, 199);
}


@media (min-width: 1024px) {
    .bar1 {
        width: 150px
    }

    .bar2 {
        width: 80px;
    }
}

@media (max-width: 375px) {

    .dontshow {
        display: none;
    }

}